VITE_API_URL=https://nodejs-railway-production-d9bc.up.railway.app
VITE_ADMIN_TOKEN=your_admin_token_here
VITE_TIKTOK_PIXEL_ID=
DATABASE_URL=your_supabase_connection_string
NEXT_PUBLIC_API_URL=https://nodejs-railway-production-d9bc.up.railway.app
NEXT_PUBLIC_ADMIN_TOKEN=your_admin_token_here
